     
    body {
      overflow: hidden;
      background-color: black;
         }

    canvas {
     display: block;
         }
 
    
    #butterflyCanvas {
        height: 100vmin;
        width: 100vmin;
        border-radius: 1000px;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
        background-color: #ffffc7;
    }